html, body{
    background-color: #03012d;
    color: white;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
p{margin: 0;}
* {
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}
.unit{
    display: flex;
    align-items: center;
    background-color: #272541;
    padding-inline: 20px;
    padding-block: 0;
    gap: 10px;
    border-radius: 15px;
    height: 40px;
    cursor: pointer;
}
.heading{
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    font-family: "Bricolage Grotesque", sans-serif;
}
.search{
    display: flex;
    justify-content: center;
    gap: 1%;
}
input{
    background-color: #272541;
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    width: 100%;
    height: 40px;
    padding-inline: 10%;
}
input::placeholder{
    font-weight: 550;
    color: #fff;
    letter-spacing: 1px;
}
button{
    background-color: #4455da;
    border: none;
    color: white;
    border-radius: 5px;
    width: 9%;
    height: 40px;
    cursor: pointer;
}
.searchInput{
    width: 29%;
    display: flex;
    position: relative;
}
.searchInput .searchIcon {
    position: absolute;
    top: 30%;
    left: 10px;
}
.WeatherForcast{
    border: 1px solid white;
    width: 80%;
    height: 85%;
    display: flex;
    justify-self: center;
     
}
.main{
    width: 60%;
    height: 100%;
}

.BgBig{
    height: 45%;
    /* border: 1px solid greenyellow; */
    background-image: url("assets/images/bg-today-large.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.BgBig > *{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.BgSmall{
    display: none;
}
.dailyForcast, .conditions{
    display: flex;
    gap: 2%;
}
.condition, .dayWrapper{
    /* border: 1px solid plum; */
    background-color: #272541;
    border-radius: 10px;
}
.dayWrapper{
    width: 20%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.condition{
    width: 40%;
    height: 80px;
    padding: 2%;
}
.weatherToday{
    width: 100px;
    height: 100px;
}
.weatherEmoji{
    width: 60px;
    height: 60px;
}
.temp{
    display: flex;
    align-items: center;
}
.settling{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


/* MOBILE */

@media (max-width: 435px) {
    .search{
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
    }
    .searchInput, button{
        width: 90%;
    }
    .BgBig{
        display: none;
    }
    .BgSmall{
        display: block;
        background-image: url("assets/images/bg-today-small.svg");
    }
    /* .WeatherForcast{
        width: 100%;
        margin: 0;
    } */
    
}
